.image-info {
    height: 200px;
    border: 2px solid rgb(101, 134, 204);
    width: 360px;
    padding: 5px;
}

.btn-details {
    background-color: blue;
}

.btn-details:hover {
    background-color: rgb(218, 186, 5);
}