.Login-page {
    background-image: url('../../image/360_F_292905667_yFUJNJPngYeRNlrRL4hApHWxuYyRY4kN.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

.login-form {
    display: flex;
    justify-content: end;
}

.login-form form {
    margin-top: 100px;
}

.form-style {
    width: 400px;
}

@media only screen and (max-width: 500px) {
    .form-style {
        width: 250px;
    }
}